<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand text-white" href="{% url 'home' %}">Gallery Inn</a>
        </div>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Location
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <a class="dropdown-item" href="{% url 'search_by_location' %}">Wuhan</a>
                

            </div>
        </li>





        <!-- Adding a search form  -->
        <!-- Adding a search form  -->
        <div class="col-sm-4 col-md-4 navbar-right">

            <form class="navbar-form" role="search" action="{% url 'search_results' %}" METHOD="GET">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Item" name="image">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">Search
                        </button>
                    </div>
                </div>

            </form>
        </div>
        <!-- search form end -->
    </div>
</nav>